version: 2

updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      python-deps:
        patterns: ["*"]
        update-types: ["minor", "patch"]
    commit-message:
      prefix: "build"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      github-actions:
        patterns: ["*"]
        update-types: ["minor", "patch"]
    commit-message:
      prefix: "build"
      include: "scope"

